/.metadata/
/bin/
/target/
*.swp

## Java
*.class
*.jar
*.war
*.ear

## Eclipse
/RemoteSystemsTempFiles/
.project
.classpath
.settings

## Gradle
/build/
.gradle
!gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.factorypath
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

